/* .dark-overlay {
     position: relative; 
    height: 50%;
} */

.image-holder {
    position: absolute; 
    top: 0px; left: 0px; 
    z-index: 0; 
    width: 100%; height: 100%; 
    visibility: inherit; 
    opacity: 1; 
    transform: matrix(1, 0, 0, 1, 0, 0);
}


.dark-overlay-home {
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}

.hard {
    filter: brightness(50%);
}

.subtle {
    filter: brightness(80%);
}

.fancyBreak {
    color: blue;
}

.video-container {
  height:calc(100vh - 4px);
  width:calc(100vw - 4px);
  box-sizing: border-box;
}

.fullscreen-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.fullscreen-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
